<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8" />
    <meta name="description" content="Полная сводка котировок крипто валют ежедневно." />
    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="Котировка, котировка, валюта, курс, крипта, крипто валюта, курс валют, котировки" />
    <title>Котировки</title>
    <link href="assets/pictures/png/coins.png" rel="icon" />

    <!-- CSS -->
    <link rel=stylesheet type=text/css href="css/style.css" />
    <!-- end CSS -->

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
    <!-- end Google Font -->

</head>
<body>

<div class="body-wrapper" id="app-list">

    <aside class="aside">

        <form name="search" class="search-form">
            <label for="searching" class="search-label">
                <img src="assets/pictures/svg/search.svg" class="search-icon" />
            </label>
            <input type="search" v-model="search" name="search-value" id="searching" class="search-field" placeholder="Поиск..." />
        </form>

        <ul class="list" >
            <li class="item" v-for="post in filteredList" v-on:click="openData">
                {{ post.title }}
            </li>
        </ul>

    </aside>

    <div class="wrapper">

        <header class="header">

            <h1 class="header-caption"> </h1>

        </header>

        <div class="date__container"></div>

        <main class="main">

            <div class="data__container">

                <table class="table" summary="Вывод данных для конктерной валюты каждые 5 минут в течение дня">
                    <thead class="table-header">
                    <tr>
                        <th class="column-caption">Время</th>
                        <th class="column-caption">Положение в рейтинге</th>
                        <th class="column-caption">Rev24</th>
                        <th class="column-caption">NetHash</th>
                        <th class="column-caption">Стоимость валюты</th>
                        <th class="column-caption">Капитализации</th>
                        <th class="column-caption">Объем торгов</th>
                    </tr>
                    </thead>
                    <tbody v-for='data in dataList'>
                    <tr>
                        <td class="column-data">{{ data.time }}</td>
                        <td class="column-data"><!-- {{ data.rating }} --></td>
                        <td class="column-data">
                            {{ data.rev24up }}
                            <br>{{ data.rev24down }}</td>
                        <td class="column-data">{{ data.nethash }}</td>
                        <td class="column-data">{{ data.exrate }}</td>
                        <td class="column-data">{{ data.capitalization }}</td>
                        <td class="column-data">{{ data.size }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </main>

    </div>

</div>

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.10/vue.min.js"></script>
    <script src="dist/js/MenuSearch.js"></script>
    <!-- end JS -->

</body>
</html>

<!-- <a v-bind:href="post.link" target="_blank">
        </a> -->